<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<div id="app" v-cloak>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title>Time series subsequence-clustering</v-toolbar-title>
      <v-dialog width="1000" v-model="dialog" activator="parent">
      </v-dialog>
      <v-btn @click="infoDialog = true">
        <v-icon icon="$info"></v-icon>
        Info
      </v-btn>
      <v-dialog width="500" v-model="infoDialog">
        <v-card>
          <v-card-title class="headline">About this site</v-card-title>
          <v-card-text>
            <p><strong>Information</strong><br>
            The site can cluster and display substrings of various lengths that are similar to each other in the time series data entered by the user.</p>
            <p><strong>How to use</strong><br>
            Click "SET DATA" at the top right.<br>
            Enter your time series data into the large input field. For example, 1,3,5,2,4,6.<br>
            If you find it bothersome to input data, you can also set random numbers by entering values into the three input fields under "generate randoms" and pressing "SET RANDOMS".<br>
            Click "SUBMIT" to display the results.</p>
            <p><strong>Attention</strong><br>
            Input values and results are not saved.<br>
            The system may change without notice.<br>
            We do not guarantee the correctness of the results.<br>
            Due to the circumstances of being operated for free, it may take about 50 seconds to re-access the site if there is no access for a while. Please wait.</p>
            <p><strong>Developer</strong><br>
            <a href='https://tekesuke1986.tumblr.com' target='_blank'>Takuya SHIMIZU</a></v-icon></p>

          </v-card-text>
        </v-card>
      </v-dialog>
      <v-btn>set data</v-btn>
      <v-dialog width="1600" v-model="dialog" activator="parent">
        <v-form v-model='valid' fast-fail @submit.prevent method="post" action="/tops" ref="form">
          <v-card>
            <v-card-text>
              <v-row>
                <v-col cols="10">
                  <v-textarea 
                  placeholder="please set timeseries (like 1,2,3,4,5)" 
                  required 
                  v-model='timeSeries' 
                  label="timeseries" 
                  name="time_series"
                  rows="20"
                  :rules="timeSeriesRules"
                ></v-textarea>
                </v-col>
                <v-col cols="2">
                  <v-row>
                    <v-col>                   
                      <v-card>
                        <v-card-title>
                          generate randoms
                        </v-card-title>
                        <v-card-text>
                          <v-row>
                            <v-col>
                              <v-text-field
                                label="min"
                                type="number"
                                v-model="random.min"
                                min="1"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col>
                              <v-text-field
                                label="max"
                                type="number"
                                v-model="random.max"
                                :min="random.min"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col>                  
                              <v-text-field
                                label="length"
                                type="number"
                                v-model="random.length"
                                min="3"
                                max="200"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col>   
                              <v-btn :disabled='!random.max || !random.min || !random.length' @click="setRandoms">set randoms</v-btn>      
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>              
                      <v-btn :disabled='!valid' @click="submit" :loading="loading">Submit</v-btn>        
                    </v-col>
                  </v-row>                  
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-form>
      </v-dialog>
    </v-app-bar>

    <v-main>
      <!-- メインコンテンツ  -->
      <v-row no-gutters>
        <v-col>
          <div id='timeline' styls='height: 70vh;'></div>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col>
          <div id='timeseries' styls='height: 20vh;'></div>
        </v-col>
      </v-row>

    </v-main>
  </v-app>
</div>