<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<div id="app" v-cloak>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title>Time series subsequence-clustering</v-toolbar-title>
      <v-btn @click="infoDialog = true">
        <v-icon icon="$info"></v-icon>
        Info
      </v-btn>
      <v-dialog width="1000" v-model="infoDialog" >
        <v-card>
          <v-card-text>
            <h3>What is this site?</h3>
            <div>The site can cluster and display substrings of various lengths that are similar to each other in the time series data entered by the user.</div>
            <h3>How to use</h3>
            <ul class="custom-list">
              <li>Click "SET DATA".</li>
              <li>Enter your time series data into the large input field. For example, 1,3,5,2,4,6.</li>
              <li>If you find it bothersome to input data, you can also set random numbers by entering values into the three input fields under "generate randoms" and pressing "SET RANDOMS".</li>
              <li>Click "SUBMIT" to display the results.</li>
            </ul>
            <h3>Attention</h3>
            <ul class="custom-list">
              <li>All of them are free of charge.</li>
              <li>Input values and results are not saved.</li>
              <li>The system may change without notice.</li>
              <li>We do not guarantee the correctness of the results.</li>
              <li>Due to the circumstances of being operated for free, it may take about 50 seconds to re-access the site if there is no access for a while. Please wait.</li>
            </ul>
            <h3>Developer</h3>
            <div>
              <a href='https://tekesuke1986.tumblr.com' target='_blank'>Takuya SHIMIZU</a></v-icon></p>
            </div>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-btn @click="analyse.setDataDialog = true">analyse</v-btn>
      <v-dialog width="1000" v-model="analyse.setDataDialog" >
        <v-form v-model='analyse.valid' fast-fail ref="form">
          <v-card>
            <v-card-text>
              <v-row>
                <v-col cols="9">
                  <v-textarea
                  placeholder="please set timeseries (like 1,2,3,4,5)"
                  required
                  v-model='analyse.timeSeries'
                  label="timeseries"
                  rows="1"
                  :rules="analyse.timeSeriesRules"
                ></v-textarea>
                </v-col>
                <v-col cols="3">
                  <v-row>
                    <v-col>
                      <v-card>
                        <v-card-title>
                          generate randoms
                        </v-card-title>
                        <v-card-text>
                          <v-row>
                            <v-col>
                              <v-text-field
                                label="min"
                                type="number"
                                v-model="analyse.random.min"
                                min="1"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col>
                              <v-text-field
                                label="max"
                                type="number"
                                v-model="analyse.random.max"
                                :min="analyse.random.min"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col>
                              <v-text-field
                                label="length"
                                type="number"
                                v-model="analyse.random.length"
                                min="3"
                                max="2000"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col>
                              <v-btn :disabled='!analyse.random.max || !analyse.random.min || !analyse.random.length' @click="setRandoms">set randoms</v-btn>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-text-field
                        label="merge threshold ratio"
                        type="number"
                        v-model="analyse.mergeThresholdRatio"
                        min="0"
                        max="1"
                        step="0.01"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-btn :disabled='!analyse.valid' @click="analyseTimeseries" :loading="analyse.loading">Submit</v-btn>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-form>
      </v-dialog>
      <v-btn @click="generate.setDataDialog = true">generate(experimental)</v-btn>
      <v-dialog width="1000" v-model="generate.setDataDialog" >
        <v-form v-model='generate.valid' fast-fail ref="form">
          <v-card>
            <v-card-text>
              <v-row>
                <v-col>
                  <v-textarea
                    placeholder="please set the first elements of the time series. (like 0,1,2,3,4,5)"
                    required
                    v-model='generate.firstElements'
                    label="first elements"
                    rows="1"
                    :rules="generate.firstElementsRules"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-textarea
                    placeholder="please set the complexity transition. (like 1,2,3,4,5)"
                    required
                    v-model='generate.complexityTransition'
                    label="complexity transition"
                    rows="1"
                    :rules="generate.complexityTransitionRules"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="4">
                  <v-card>
                    <v-card-title>
                      available range
                    </v-card-title>
                    <v-card-text>
                      <v-row>
                        <v-col>
                          <v-text-field
                          label="min"
                          type="number"
                          v-model="generate.rangeMin"
                          min="1"
                        ></v-text-field>
                        </v-col>
                        <v-col>
                          <v-text-field
                          label="max"
                          type="number"
                          v-model="generate.rangeMax"
                          :min="generate.rangeMin"
                        ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    label="merge threshold ratio"
                    type="number"
                    v-model="generate.mergeThresholdRatio"
                    min="0"
                    max="1"
                    step="0.01"
                  ></v-text-field>
                  <v-btn :disabled='!generate.valid' @click="generateTimeseries" :loading="generate.loading">Submit</v-btn>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-form>
      </v-dialog>
    </v-app-bar>
    <v-main>
      <v-row no-gutters v-if='showTimeseriesChart'>
        <v-col>
          <div class='text-h6 ml-3'>timeseries</div>
          <div id='timeseries' styls='height: 20vh;'></div>
        </v-col>
      </v-row>
      <v-row no-gutters v-if='showTimeseriesComplexityChart'>
        <v-col>
          <div class='text-h6 ml-3'>timeseries-complexity</div>
          <div id='timeseries-complexity' styls='height: 20vh;'></div>
        </v-col>
      </v-row>
      <v-row no-gutters v-if='showTimeline'>
        <v-col>
          <div class='text-h6 ml-3'>clusters</div>
          <div id='timeline' styls='height: 70vh;'></div>
        </v-col>
      </v-row>
    </v-main>
  </v-app>
</div>
